@use "sass:math";
$margin-generic: 10px;
$bg-color-white: white;

.todo {
  display: flex;
  justify-content: space-between;
  width: 40%;
  min-width: 300px;
  margin: $margin-generic * 2 auto;
  padding: $margin-generic;
  box-shadow: 0 0 $margin-generic -1px #3333;
  border-radius: math.div($margin-generic, 2);
}

.content__title.completed {
  text-decoration: line-through;
  background-color: greenyellow;
}

.delete__btn {
  cursor: pointer;
  background-color: $bg-color-white;
  border: none;
}

.todo__content {
  display: flex;
}

.tick__icon {
  cursor: pointer;
  background-color: $bg-color-white;
  border: none;
  margin-right: $margin-generic;
}

.todo__actions {
  display: flex;
}
