@use "sass:math";
$margin-generic: 10px;

.form {
  border-radius: math.div($margin-generic, 2);
  box-shadow: 0 0 $margin-generic 1px #3333;
  display: flex;
  margin: $margin-generic * 5 auto;
  min-width: 300px;
  overflow: hidden;
  width: 40%;
}

.form__input {
  flex: 3;
  font-weight: 200;
  height: $margin-generic * 5;
  padding: $margin-generic $margin-generic * 2;
}

.form__submit {
  background-color: black;
  color: white;
  cursor: pointer;
  flex: 1;
  font-weight: 700;
}
