.form {
  width: 40%;
  min-width: 300px;
  margin: 50px auto;
  display: flex;
  box-shadow: 0 0 10px 1px #3333;
  border-radius: 5px;
  overflow: hidden;
}

.form__input {
  flex: 3;
  height: 50px;
  padding: 10px 20px;
  font-weight: 200;
}

.form__submit {
  flex: 1;

  background-color: black;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
